@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Abel&family=Luckiest+Guy&display=swap");

@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Abel&family=Luckiest+Guy&display=swap");

* {
  margin: 0;
}

body {
  margin: 0px auto 0px auto;
  text-align: center;
  font-family: "Abel"; 
  background: url(../imagens/-_4.jpg);
}

/*Header*/
header, main {
  margin: 0px auto;
  inline-size: 100%;
}

.logo{
  position: absolute;
  inset-inline-start: 5px;
  inset-block-start: 1px;
  display: inline;
}
.preco{
  position: absolute;
  inset-inline-end: 5px;
  inset-block-start: 11px;
  display: inline;
}
.sair input{
  position: relative;
  inset-block-start: 33%;
  inline-size: 50px;
}
.navegacao{
  background-color: rgba(255, 136, 0, 0.555);
  block-size: 75px;
  margin-block-end: 28px;
}

/*Main*/
main {
  margin: 10px auto;
}
h1, caption {
  color: #ffffff;
  font-family: "Luckiest Guy";
  text-shadow: 1px 2px 1px #000, -1px 2px 1px #000, 1px 2px 1px #000, -1px 2px 1px #000; 
  margin: 20px auto;
}
.h2 ,.paragrafo {
    font-family: "ABeeZee";
    margin:40px;
}
a.como-funciona {
  color: black;
  font-style: italic;
}
a:hover{
  color: rgba(255, 136, 0);
}
.imagem {
  border: 1px solid;
  inline-size: 218px;
  margin: auto;
}
.imagem img {
  inline-size: 100%;
  block-size: 100%;
}

fieldset {
  display: inline;
  inline-size: 20%;
  min-inline-size: 250px;
  margin: 20px 50px;
  border: 1px solid;
}

.lanche .imagem {
  border: 1px solid;
  margin: auto;
  padding: 28px 0px;
}
input[type="number"]{
  inline-size: 35px;
}
p {
  margin: 5px auto 0 auto;
}
.botao{
  inline-size: 30px;
  block-size: 30px;
  margin-block-end: 5px;
}
.botaoEx{
  margin-block-end: 5px;
}
.botao:hover, .botaoEx:hover {
  cursor: pointer;
}
.quantia {
  margin: auto 10px;
}
textarea {
  block-size: 5rem;
  inline-size: 15rem;
}

.formulario input{
  margin-block-start: 5px;
}

.formulario button{
  margin-block-start: 5px;
}
body#cardapio{
  min-block-size: 1838px;
}
div.restaurante{
  margin: 230px auto auto auto;  
}
table#pedido, table#pedido tr{
  margin: 30px auto;
  background-color: white;
  border: 1px solid;
  inline-size: 80%;
  max-inline-size: 1000px;
}
div.restaurante table#pedido caption {
  caption-side: block-start;
  text-align: center;
  padding: 0;
  font-size: 3em;
}

fieldset h2, fieldset p, fieldset label {
  font-weight: bold;
}

h1, h2, p {
  font-weight: bolder;
}

p {
  font-size: 16px;
}


/*Footer*/
footer {
  background-color: #cab601;
  text-align: center;  
  inline-size: 100%;
}
footer .paragrafo {
  margin: 0;
}
